section.S-footer 
    main.footer-main 
        figure.footer-section.footer-location-section
            h3.heading-3 الموقع
            ul.location-footer-section-list 
                li.location-footer-section-li 
                    a.btn-outline(href="https://maps.app.goo.gl/kNAjC2uLdnLEUZjZ7")
                        ion-icon(name="navigate-circle-outline") 
                        | قوقـل مــاب
                li.location-footer-section-li 
                    a
                        ion-icon(name="location-outline")
                        | الياسمين، عمان-الأردن                   
        figure.footer-section.footer-developer-section
            h3.heading-3 مطور؟
            p.dev-footer-section-text يمكنك المساعده بهذا المشروع، ويمكنك إرسال معلوماتك على:
                a(href="mailto:omaralkhateeb77o@gmail.com") omaralkhateeb77o@gmail.com
                |هذا المشروع مبني على: Node.js/Express, Mongoose/Mongodb
                |HTML (PUG), CSS, JS   
        figure.footer-section.footer-about-section
            h3.heading-3 من نحن؟
            p.about-footer-section-text هذا مشروع مبني باسم مسجد نابلس الكبير لانه يخدم بعض مصالح المسجد التطوعيه.            هذا المشروع يعتبر مشروع تطوعي 100% وتم بنائه لوجه الله تعالى، ويمكن لكل من يستطيع المساعده بأن يساعد في هذا المشروع. هذا المشروع يساعد لناس بـمتابعة الورد القرآني لهم بمكان موحد، حيث اذا كنت تقرأ من أكثر من مكان، مثل المسجد، والقرآن، والجوال، ومصاحف بأماكن متقطعه، فيمكنك حفظه كله هنا، وأما متابعة الحفظ فهو متابع لحفظك للمصحف الشريف، ويمكنك أن تفعله لوحدك، وإما مع مساعدين من مسجد نابلس لتوثيق حفظك.              هذا المشروع قابل لإضافة الكثير من الميزات باذن الله
          

